*
{
    margin: 0;
    padding: 0;
}



html,
body
{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  overflow: hidden;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    outline: none;
    background: rgb(0, 0, 0);
}

.point{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.point:hover .text{
    opacity: 1;
    
}

.point.visible .label{
    transform: scale(1, 1);
}

.point .label{
    position: absolute;
    width: 4rem;
    height: 4rem;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 900;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 100px;
    transform: scale(0, 0);
    transition: transform 0.3s ease-in-out;
}

.point .text{
    position: absolute;
    top: 4.25rem;
    color: #fff;
    padding: 1rem 2rem;
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .2rem;
    width: 12rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}